# HW3: Pandas for Data Analysis (100 points)

Please save file with the following format:
*hw3_yourfirstname_yourlastname*.

In [1]:
#Import Python Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

*Exercise*

In [2]:
#Read csv file
df = pd.read_csv("data/Salaries.csv")

In [ ]:
#Display top 10  records (2 points)

In [ ]:
#Display the last 5 records (2 points)
# <your code goes here>

---

In [ ]:
#Identify the type of df object 
type(df)

In [ ]:
#Check the index (2 points)

In [ ]:
#Check the type of a column "salary" (2 points)

In [ ]:
#List the types of all columns (2 points)

In [ ]:
#List the column names (2 points)

In [ ]:
#Number of dimensions  (2 points)

In [ ]:
#Total number of elements in the Data Frame (2 points)

In [ ]:
#Number of rows and columns (2 points)

In [ ]:
#Output basic statistics for the numeric columns (2 points)

In [ ]:
#Calculate the standard deviation and mean  for all numeric columns (5 points)
# <your code goes here>

In [ ]:
#Calculate average of the columns in the first 50 rows (5 points)
# <your code goes here>

---
### Data slicing and grouping

In [3]:
#Let's see what we get for our df_sub data frame
# Method .loc subset the data frame based on the labels:
df_sub.loc[10:20,['rank','sex','salary']]

NameError: name 'df_sub' is not defined

In [ ]:
#Extract the 'sex' column by name  (5 points)

In [ ]:
#Calculate the average salary (5 points)

In [ ]:
#Group data using rank, #Calculate mean of all numeric columns for the grouped object (5 points)

In [ ]:
#Group the data using sex, calculate the mean salary for men and women. (5 points)

In [ ]:
# Group using 2 variables - sex and rank, 
#then find the mean, median, min, max salary for each group (5 points)

---
### Common Aggregation Functions:

|Function|Description
|-------|--------
|min   | minimum
|max   | maximum
|count   | number of non-null observations
|sum   | sum of values
|mean  | arithmetic mean of values
|median | median
|mad | mean absolute deviation
|mode | mode
|prod   | product of values
|std  | standard deviation
|var | unbiased variance

---
### Filtering

In [ ]:
#Select observation with the value in the salary column > 120K
df_sub = df[ df['salary'] > 120000]
df_sub.head()

In [ ]:
#Select data for female professors. and find the mean value of the salary for them
(5 points)

In [ ]:
# Extract (filter) only observations with high salary ( > 100K) and
# find how many female and male professors in each group (5 points)

The simplest way to get row counts per group is by calling .size()

### Sorting the Data

In [ ]:
#Sort the data frame by yrs.service and create a new data frame
df_sorted = df.sort_values(by = 'service')
df_sorted.head()

In [ ]:
# Sort data frame by the salary (in descending order) and display the first few records of the output (head) (5 points)

---

### Explore data using graphics

In [ ]:
#Use pandas plotting to draw a line of the salray distribution in the data (10 points)

In [ ]:
#Use pandas plotting to draw a pie chart of the total number of male versus female professors in the dataset (10 points)

In [ ]:
# Based on the data, think of another graph you can plot (10 points)